/* @media screen and (max-width: 768px) {
  body {
    position: absolute;
  }
}
@media screen and (min-width: 768px) {
  body {
    position: relative;
  }
} */
html,
body {
  background-color: #e9e3da;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  min-height: 0vw;
}
